#contenu
{
	background:white;
	border: 2px black;
	position:absolute;
	margin-top:100px;
	margin-left:10%;
	z-index:200;
	border-style: solid;
    border-width: 5px;
	padding:100px 100px 100px 100px;
}

#contenu #texte
{
	display:block;
}

#contenu div
{
	display:none;
}

#error
{
	display:none;
}

#contenu div.active
{
	display:block;
}