body
{
	/*cursor: url(http://www.rw-designer.com/cursor-extern.php?id=11463),pointer;*/
    background-color: #e0e0e0
}
#contenu div, #error
{
	display:none;
}


#contenu div.active, #contenu #texte
{
	display:block;
}
.container {
    background-color: #c4c2c2;
    padding:-100px;
}
